.cardMedia:hover {
  background-color: transparent;
  border-radius: 15px;
  transition: ease-in 1s;
  transform: scale(1.1);
}

.card:has(.cardMedia:hover) {
  overflow: visible;
}

.card:has(.cardMedia:hover) .cardText {
  display: none;
  transition: ease 2s;
}
